<!DOCTYPE html>
<html >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">

  <meta name="HandheldFriendly" content="True">

  <meta name="MobileOptimized" content="320">


  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us</title>
   <link rel="stylesheet" href="//sirkapil.github.io/resume/tufte.min.css" />
      <link rel="stylesheet" href="//blog-kapil.netlify.com/src/contact.css" />

  
</head>

<body>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

<form id="contact-form" action="https://formspree.io/kapil05021996@gmail.com" method="POST">
<section>
  <h2>Dear Kapil,</h2>
  <p>My
    <label for="your-name">name</label> is
    <input type="text" name="your-name" id="your-name" minlength="3" placeholder="(your name here)" required></p>
</section>
<section>

  <p>My
    <label for="email">email address</label> is
    <input type="email" name="your-email" id="email" placeholder="(your email address)" required>
  </p>
</section>
<section>

  <p>My
    <label for="number">mobile number</label> is
    <input type="number" name="your-name" id="your-name" minlength="10" placeholder="(your mobile no.)" required>
  </p>
</section>

   <input type="hidden" name="_next" value="/thanks/?form-submitted">

    <input type="hidden" name="_subject" value="New Contact Form Submission">

    <input type="text" name="_gotcha" style="display:none">
<section>
  <p> I have a
    <label for="your-message">message</label> for you,</p>

  <p>
    <textarea name="your-message" id="your-message" type="text" rows="4" placeholder="(your message here)" class="expanding" required></textarea>
  </p>
<section>
  <section>
    <button type="submit">
      <svg version="1.1" class="send-icn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="36px" viewBox="0 0 100 36" enable-background="new 0 0 100 36" xml:space="preserve">
        <path d="M100,0L100,0 M23.8,7.1L100,0L40.9,36l-4.7-7.5L22,34.8l-4-11L0,30.5L16.4,8.7l5.4,15L23,7L23.8,7.1z M16.8,20.4l-1.5-4.3
	l-5.1,6.7L16.8,20.4z M34.4,25.4l-8.1-13.1L25,29.6L34.4,25.4z M35.2,13.2l8.1,13.1L70,9.9L35.2,13.2z" />
      </svg>
      <small><span style="color:#15B6B1">Proceed</span></small>
    </button>
  </section>
</form>


  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'>
</script>

    <script src="//blog-kapil.netlify.com/src/contact.js">
</script>

</body>
</html>
