<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
    <link rel="stylesheet" href="//sirkapil.github.io/resume/tufte.css">
   <link rel="stylesheet" href="//sirkapil.github.io/resume/latex.css">
   <link rel="stylesheet" href="//sirkapil.github.io/resume/custom.css">
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.name }}" href="{{ site.baseurl }}/feed.xml" />
  {% seo %}
{% if site.mathjax == true %}
<script type="text/x-mathjax-config"> MathJax.Hub.Config({ tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]} }); </script>
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}
</head>
<body>
<article>
  
    {{ content }}

</article>
</body>
</html>
