<!DOCTYPE html>
  <html lang='en'>
  <head>
<script type="text/javascript">
if (screen.width < 574) {
var ref = document.referrer;
var urls = new Array("https://sirkapil.me","https://pc.sirkapil.me");
var n = ref.match(urls[0]);
var m = ref.match(urls[1]);
if ((m!==null) || (n!==null)) {
stop;
}
else if (ref=='') {
var r = confirm("we have a better optimised site for tablet and pc users. \nClick \"OK\" to visit that site. ");
if (r==true) {
window.location = "https://pc.sirkapil.me";
}
else {
stop ;
}
}
else
{
window.location = "https://pc.sirkapil.me";
}
}
</script>
    <meta charset='utf-8'>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
    <link rel='stylesheet' href='{{ site.baseurl }}/tufte.css' type='text/css'>
    <link rel='stylesheet' href='{{ site.baseurl }}/latex.css' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% if site.mathjax == true %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { availableFonts: ["TeX"] }
  });
</script>
	<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  TeX: { equationNumbers: { autoNumber: "AMS" } }
});
</script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  TeX: { extensions: ["enclose.js", "color.js", "AMSmath.js", "AMSsymbols.js"] } 
});
</script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
TeX: {
  extensions: ["noUndefined.js"],
  noUndefined: {
    attributes: {
      mathcolor: "red",
      mathbackground: "#FFEEEE",
      mathsize: "90%"
    }
  }
} });
</script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  TeX: {
  extensions: ["noErrors.js"],
  noErrors: {
    inlineDelimiters: ["",""],   // or ["$","$"] or ["\\(","\\)"]
    multiLine: true,             // false for TeX on all one line
    style: {
      "font-size":   "90%",
      "text-align":  "left",
      "color":       "black",
      "padding":     "1px 3px",
      "border":      "1px solid"
      // add any additional CSS styles that you want
      //  (be sure there is no extra comma at the end of the last item)
    }
  }
} });
</script>
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
 </script>
{% endif %}
</head>
<body>
<article>
  
    {{ content }}

</article>
<footer>
<p>Maintained by <span style="color:green"><a href="//twitter.com/kapil_rc" target="_blank">Kapil</a></span><br />Built with love in <span style="color:red">IN</span><span style="color:silver">D</span><span style="color:green">IA</span>
</p>
	</footer>
<script>
document.getElementById("pageurl").innerHTML =
"" + window.location.href;
</script>
</body>
</html>
