<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">

  <meta name="HandheldFriendly" content="True">

  <meta name="MobileOptimized" content="320">


  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
   <link rel="stylesheet" href="/src/tufte.css"/>
    <link rel="stylesheet" href="/src/latex.css"/>

<script defer type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js">
</script>
</head>
<article>
  
    {{ content }}

</article>
<footer>
<p>Maintained by <span style="color:green"><a href="//twitter.com/kapil_rc" target="_blank">Kapil Chaudhary</a></span><br />Built with love in <span style="color:red">IN</span><span style="color:silver">D</span><span style="color:green">IA</span>
</p>
	</footer>
<script>
document.getElementById("pageurl").innerHTML = 
"" + window.location.href;
</script>
</body>
</html>