<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">
    <meta name="description" content="{{ site.description }}">

    <link rel='stylesheet' href='{{ site.baseurl }}/tufte.css' type='text/css'>
    <link rel='stylesheet' href='{{ site.baseurl }}/latex.css' type='text/css'>
<!-- Chrome, Firefox OS and Opera --> 
<meta name="theme-color" content="#ff4500"> 
<!-- Windows Phone --> 
<meta name="msapplication-navbutton-color" content="#ff4500">
 <!-- iOS Safari --> 
<meta name="apple-mobile-web-app-status-bar-style" content="#ff4500">
<link rel="icon" sizes="16x16 32x32 48x48 96x96 192x192" href="//sirkapil.me/img/icon/icon.png">
    <title>
        {{ page.title }}
    </title>
    <link rel="stylesheet" href="
      <link href="/feed.xml" rel="alternate" type="application/rss+xml" title="{{ page.title }}" />
  </head>

  <body>
    <section id="nav">
      <h1>{{ page.title }}</h1> <br />{% if page.author %}{{ page.author }} {% else %} {{ site.name }} {% endif %}<hr />
    </section>
    <section id="content">
    <div class="entry-content">
  
{{ content }}
 
    </div>
    </section>
{% if site.mathjax == true %}
{% if page.mathjax %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { availableFonts: ["TeX"] }
  });
</script>
	<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  TeX: { equationNumbers: { autoNumber: "AMS" } }
});
</script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  TeX: { extensions: ["enclose.js", "color.js", "AMSmath.js", "AMSsymbols.js"] } 
});
</script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
TeX: {
  extensions: ["noUndefined.js"],
  noUndefined: {
    attributes: {
      mathcolor: "red",
      mathbackground: "#FFEEEE",
      mathsize: "90%"
    }
  }
} });
</script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  TeX: {
  extensions: ["noErrors.js"],
  noErrors: {
    inlineDelimiters: ["",""],   // or ["$","$"] or ["\\(","\\)"]
    multiLine: true,             // false for TeX on all one line
    style: {
      "font-size":   "90%",
      "text-align":  "left",
      "color":       "black",
      "padding":     "1px 3px",
      "border":      "1px solid"
      // add any additional CSS styles that you want
      //  (be sure there is no extra comma at the end of the last item)
    }
  }
} });
</script>
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
 </script>
{% endif %}
{% endif %}
</body>
</html>
