---
layout: printer-friendly
---

<section>
  <h1 id="tufte-css">
    {{ page.title }}
  </h1>
<p class="subtitle"> {{ page.subtitle }}
</p><br />
{% if page.author %}<p>{{ page.author }}</p>{% else %}Kapil Chaudhary{% endif %}
</p>
</section>
<hr />
<section>

  {{ content }}

</section>
<hr />
<script>var pfHeaderImgUrl = '';var pfHeaderTagline = '';var pfdisableClickToDel = 0;var pfHideImages = 0;var pfImageDisplayStyle = 'right';var pfDisablePDF = 0;var pfDisableEmail = 0;var pfDisablePrint = 0;var pfCustomCSS = 'https://cdn.sirkapil.me/tufte.css';var pfBtVersion='2';(function(){var js,pf;pf=document.createElement('script');pf.type='text/javascript';pf.src='//cdn.printfriendly.com/printfriendly.js';document.getElementsByTagName('head')[0].appendChild(pf)})();</script><a href="https://www.printfriendly.com" style="color:#6D9F00;text-decoration:none;" class="printfriendly" onclick="window.print();return false;" title="Printer Friendly and PDF"><img style="border:none;-webkit-box-shadow:none;box-shadow:none;" src="//cdn.printfriendly.com/buttons/printfriendly-button-md.png" alt="Print Friendly and PDF"/></a>

