<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <title>Identity</title>
    <link rel='stylesheet' href='{{ site.baseurl }}/tufte.css' type='text/css'>
    <link rel='stylesheet' href='{{ site.baseurl }}/latex.css' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<script defer type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<article>
  
    {{ content }}

</article>
<footer>
<p>Maintained by <span style="color:green"><a href="//twitter.com/kapil_rc" target="_blank">Kapil Chaudhary</a></span><br />Built with love in <span style="color:red">IN</span><span style="color:silver">D</span><span style="color:green">IA</span></p>
</footer>
</body>
</html>
